<div class="footer">
  <div class="footer-links">
    <%= link_to "Home", "index.html" %>
     <%= link_to "Massage", "aboutmassage.html" %>
    <%= link_to "Web Developer", "about.html" %>
    <%= link_to "Contact", "contact.html" %>




</div>
