

<div class="container">
  <div class="container-content-about">

    <div class="about-masseuse">
    <h1>About the Masseuse</h1>
      <div class="photo">
     <%= image_tag "maletherapist.jpg", id: "male" %>
     </div>
    <p> Ale is a Registered Massage Therapist. He finished International School of Massage Therapy and Physical Rehabilitation at Belgium in 2003. Has 12 years of experience in both Massage Therapy and Coaching. Specializes in sports, swedish massage, and deep relaxation techniques. Ale likes to use his forearms, knuckles and elbow stripping techniques to go deep into the muscles and release tension and stiffness. Book your appointment with Ale and enjoy European Massage Therapy style and techniques!</p>


    </div>

    <div class="massage-info">
      <div id="pointer">
        <p>Massages</p>
      </div>

      <div class="list-unstyled massage-list">

        <div class="massage-description">
          <h3>Swedish</h3>
          <p>Soothing massage that increases the level of oxygen in the blood, decreases muscle toxins, improves circulation and flexibility while easing tension.</p>
          <p>30 min - $50</p>
        </div>


        <div class="massage-description">
           <h3>Sport</h3>
          <p> Prevent injuries and prepare the body for athletic activity and maintain it in optimal condition</p>
          <p>30 min - $60</p>
        </div>
        <div class="massage-description">
           <h3>Deep Tissue</h3>
          <p>Deep pressure is beneficial in releasing chronic muscle tension</p>
          <p>60 min - $80</p>
        </div>



    </div>
    <button type="button" class="btn btn-primary">Book a massage</button>

    <div class="massage-price-list">


    </div>
  </div>
</div>


