<h1>About the Masseuse</h1>

<p>My name is Ale from Asuscion, Paraguay. Growing up I have always loved maintaining a healthy lifestyle. I was a dancer and yoga instructor for the past five years and found a new passion in massage. I wish to relieve stress and provide a well-rested mind and body. </p>
