---
title: Koima Care
---
<div class="banner parallax" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/banner-massage.jpeg');">
  <div class="banner-content">
    <h1>Ale Fretez</h1>
    <h3>Ayuverdic Massage Therapy</h3>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="center">
      <h1>Testimonials</h1>
    </div>
  </div>
  <div class="content">
    <p>"Having been attending Trevor for the last 2-3 years I can honestly say that you won't get a better massage. With the correct pressure Trevor knows exactly the right areas to work on. I am continuously impressed by the professional and attentive care he provides each time I go. Needless to say I would highly recommend Trevor." - Tim </p>
    <p>"“I appreciate that Larry works with me to find the right techniques and pressure to meet my needs while still making the massage a serene and relaxing experience. The benefits of his massages extend into my day-to-day wellness because Larry also helps me to understand what’s going on with my muscles and joints and to identify habits potentially causing aches and knots.”"</p>
    <p>"Having been attending Trevor for the last 2-3 years I can honestly say that you won't get a better massage. With the correct pressure Trevor knows exactly the right areas to work on. I am continuously impressed by the professional and attentive care he provides each time I go. Needless to say I would highly recommend Trevor." - Tim </p>
  </div>
</div>
</div>
</div>