---
title: Larry - Web Developer
---



<div class="blue-wrapper">
    <div class="col">
    <img src="images/larrycodesbanner.png" alt="intro-banner" class="responsive">
  </div>
  </div>


  <div class="col-col-xs-16">
    <div class="icons">
       <a href="mailto:ichbinlarry@email.com"><i class="fas fa-envelope-open"></i></a>
      <a href="www.linkedin.com/in/larrynevins"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/ringochico"><i class="fab fa-github-square"></i></a>

    </div>
    </div>

    <a href="#one" class="btn-treehouse">Start now</a>

    <div class="container">
      <div class="col col-xs-16 information">
        <div class="center" id="one">
          <h1>Let's get personal</h1>
        </div>

        <div class="content">

    <p> I enjoy working with my imaginations and displaying them onto web applications. into I transform creative ideas into responsive web applications. Currently, I'm floating around Asia and looking for a company to grow and develop amazing apps. My developer career started at the Le Wagon bootcamp in Tokyo, Japan. Things that I enjoy doing in Japan include experiencing the konbini culture, eating my daily red bean cake, or just getting completely lost. </p>
    </div>


  <div class="white-wrapper">
    <div class="col-col-xs-16">

    <h1>Super Powers</h1>
    <p>JavaScript ES6, HTML5, CSS, Ruby on Rails.</p>

    <img src="images/computer.png" alt="computer" class="zoom computer">
    </div>
    <h1>Projects</h1>

    <div class="content">
      <p>Here are the projects that I have worked on.</p>


    <a href="https://interpreteme.herokuapp.com/"> <img src="images/spurience.png" href="www.facebook.com" alt="computer" class="projects"></a>
    <a href="https://cocktail-craze.herokuapp.com/cocktails"> <img src="images/cocktail.png" href="www.facebook.com" alt="computer" class="projects"></a>

    <h1></h1>

  </div>
  </div>
</div>




